.newsContainer{
    display: flex;
    margin: 0px 0.1rem;
}
.newsContainer a{
    margin: 0px 0.5rem
}
.yearsHeader ul{
    display: flex;
    flex-direction: row;
}
.yearsHeader li{
    list-style: none;
    padding:0.5rem;
    margin:0.1rem;
    border: 1px solid white;
}